body {
    background-color:#FFFFFF;
    font-family: 'Google Sans', sans-serif;
}

hr {
    width: 80%;
    clear: both;
    visibility: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1, h2, h3, h4{
    color: #222222bd;
    text-align: center;
    font-family: 'Google Sans', sans-serif;
}

i, p {
    color: #222222bd;
    text-align: left; 
    font-family: 'Google Sans', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e5e5e5bd;
    width: 100vw;
}

.row1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow-x: auto;
    white-space: nowrap;
    width: 80%;
}

.media1 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 24.5%;
    text-align: center;
}

img, video {
    max-width: 100%;
    height: auto;
}

.select-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row2 {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.media-section {
    flex: 0 0 25%;
    text-align: center;
}

.frame-text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 30%;
    text-align: center;
}

.clickable-images {
    display: flex;
    justify-content: center;
}

.clickable-image {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 30%;
    text-align: center;
    cursor: pointer;
    padding: 4px;
}

.clickable-image-selected {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 30%;
    text-align: center;
    cursor: pointer;
    padding: 4px;
    background-color: #222222bd;
}

.media2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 30%;
    text-align: center;
}
.media3 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 50%;
    text-align: center;
}